/* .bg{
    height: 490px;
    width: 100%;
    position: relative;
}
.bg-img{
    height: 100%;
    width: 100%;
    
}
.head{
    font-size: 30px;
    position: absolute;
    margin-bottom: 500px;
    color: rgb(14, 14, 10);
 } */